# Easy_text summarizer
NLP is an interesting field and many big companies are investing into it. 
***This is built on news reviews from a popular london news paper***
#### 1. Problem_statement
> Many CEOs, because of their busy schedules don't always find time to catch up on sports news from their favourite teams and even world news. The same issue goes to students who are given lengthy articles to read for an upcoming exam, this can help them be more productive

This models whole idea, is to produce a summary of every article or text at a high accuracy.

### Importing data and performing simple data checks

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("C:\\Users\\Person\\Documents\\GitHub\\Text_summary\\news_summary_more.csv")

In [3]:
data.head()

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer..."
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...

In [4]:
data.describe()

,headlines,text
count,98401,98401
unique,98280,98360
top,CARS24 enables car owners to sell their cars i...,Former Australian leg-spinner Shane Warne was ...
freq,3,2

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98401 entries, 0 to 98400
Data columns (total 2 columns):
headlines    98401 non-null object
text         98401 non-null object
dtypes: object(2)
memory usage: 1.5+ MB

### Feature Engineering

In [8]:
data['text_length']=data['text'].apply(len)

In [11]:
data['headline_length']=data['headlines'].apply(len)

In [12]:
data.head()

,headlines,text,text_length,headline_length
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's...",375,65
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...,347,60
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...,360,64
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer...",343,56
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...,370,67

In [13]:
data['text_length'].describe()

count    98401.000000
mean       356.907643
std         24.423648
min          4.000000
25%        340.000000
50%        357.000000
75%        375.000000
max        450.000000
Name: text_length, dtype: float64

In [16]:
data[data['text_length']==450].iloc[0]['text']

'The Nissan Kicks, which was recently launched in India, is equipped with segment first-in-class around view monitor, 8.0â\x80\x9d floating infotainment system, leather-wrapped soft-touch dashboard and door trims. Customers can personalise their Kicks with 27 different accessory categories. Get hassle free ownership with â\x80\x9c3-year cost of maintenance packageâ\x80\x9d, wherein customers get 3-year warranty, 3-year periodic service and 24x7 roadside assistance.'

In [19]:
data[data['text_length']==4].iloc[0]['text']

'text'

In [22]:
data['headline_length'].describe()

count    98401.000000
mean        57.427109
std          4.686854
min          9.000000
25%         56.000000
50%         58.000000
75%         60.000000
max         79.000000
Name: headline_length, dtype: float64

In [24]:
data[data['headline_length']==79]['headlines'].iloc[0]

'Regret the inconvenience: Jet Airways after 30 suffer nose, ear bleed on flight'

In [25]:
data[data['headline_length']==9]['headlines'].iloc[0]

'headlines'

## Cleaning the text data and headlines

> ### dropping duplicates

### Main text

In [26]:
data.drop_duplicates(subset=['text'],inplace=True)  #dropping duplicates

In [27]:
data.dropna(axis=0,inplace=True)

### Headlines

In [28]:
data.drop_duplicates(subset=['headlines'],inplace=True)

In [29]:
data['headlines'].dropna()

0        upGrad learner switches to career in ML & Al w...
1        Delhi techie wins free food from Swiggy for on...
2        New Zealand end Rohit Sharma-led India's 12-ma...
3        Aegon life iTerm insurance plan helps customer...
4        Have known Hirani for yrs, what if MeToo claim...
                               ...
98396    CRPF jawan axed to death by Maoists in Chhatti...
98397    First song from Sonakshi Sinha's 'Noor' titled...
98398           'The Matrix' film to get a reboot: Reports
98399    Snoop Dogg aims gun at clown dressed as Trump ...
98400    Madhesi Morcha withdraws support to Nepalese g...
Name: headlines, Length: 98262, dtype: object

#### Text Data Preprocessing

In [34]:
data['text'][:10]

0    Saurav Kant, an alumnus of upGrad and IIIT-B's...
1    Kunal Shah's credit card bill payment platform...
2    New Zealand defeated India by 8 wickets in the...
3    With Aegon Life iTerm Insurance plan, customer...
4    Speaking about the sexual harassment allegatio...
5    Pakistani singer Rahat Fateh Ali Khan has deni...
6    India recorded their lowest ODI total in New Z...
7    Weeks after ex-CBI Director Alok Verma told th...
8    Andhra Pradesh CM N Chandrababu Naidu has said...
9    Congress candidate Shafia Zubair won the Ramga...
Name: text, dtype: object

In [43]:
import nltk
from nltk.corpus import stopwords
import string
import nltk.stem as PorterStermmer

#stemming=PorterStermmer()

In [45]:
#stemming=PorterStermmer()

In [46]:
def text_processing(news_texts):
    """
    * Remove punctuations
    * Remove stopwords
    * Return list of clean_words(after removing stopwords)
    """
    no_punctuation=[char for char in news_texts if char is not string.punctuation]
    no_punctuation=''.join(no_punctuation)
    stemmed_text=[PorterStermmer(word) for word in no_punctuation]
    return [word for word in no_punctuation.split() if word.lower() not in stopwords.words('english')]

In [50]:
#data['text']=data['text'].apply(text_processing(news_texts))

In [ ]:
data['text'].head(1).iloc[0]

In [ ]:
data['headlines'].head(1).iloc[0]

In [ ]:
data['text'][:10]

In [ ]:
data['text'] = data['text'].str.lower()

In [ ]:
data.describe()

In [ ]:
data.skew()

In [ ]:
data['length of text']=np.log(data['length of text'])

In [ ]:
data.skew()

In [ ]:
import seaborn as sns

In [ ]:
data['length of text'].plot.hist(bins=50)

In [ ]:
sns.distplot(data['length of text'])

In [ ]:
data['headlines'].unique

In [ ]:
data.shape